@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-image: url(../img/img-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0000FD;
  max-width: 100%;
  height: auto; }

/* MEDIAQUERIES */
/* CLAIM BACKGROUND CLASSES */
#container {
  padding-top: 2rem;
  width: 100%; }

.content {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 2rem; }

.claim {
  margin-top: 2rem; }

.claim-link {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.divide {
  border: 0.2rem solid #FFFFFF;
  border-radius: 2rem;
  width: 10%;
  margin: 0 auto; }

@media (min-width: 768px) {
  .content {
    padding-bottom: 4rem; }
  .claim {
    margin-top: 4rem; }
  .claim-link {
    padding-top: 3rem;
    padding-bottom: 4rem; }
  .divide {
    border: 0.4rem solid #FFFFFF;
    border-radius: 2rem;
    width: 20%;
    margin: 0 auto; } }

/* CONTAINER CLASSES */
.section_container {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem; }

.stroke_clear {
  border-bottom: 0.3rem solid #50E3C2;
  border-radius: 1rem;
  width: 10%;
  margin: 0 auto; }

/* GRID CLASSES */
.projects {
  background-color: #FFFFFF; }

/* ABOUT CLASSES */
.about {
  background-color: #FFFFFF; }

/* FORM CLASSES */
.form_ {
  background-color: lime; }

a {
  color: #0000FD;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    color: #50E3C2;
    text-decoration: none; }

/* CSS HEADER*/
.header {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  height: 3rem;
  line-height: 50px;
  -webkit-box-shadow: 0px 8px 3px -6px black;
  -moz-box-shadow: 0px 8px 3px -6px black;
  box-shadow: 0px 8px 3px -6px black; }

.wrap-header {
  max-width: 1440px;
  /* Cambio de posición NAVBAR*/
  margin-left: 1em; }

.logo {
  padding-top: 1rem;
  padding-left: 1rem; }

/* MENU MOBIL ACABAR CON JS*/
#menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  cursor: pointer;
  opacity: 1;
  padding: 0 0.4em; }

.navbar {
  float: none;
  max-height: 0;
  overflow: hidden; }
  .navbar .menu {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .navbar .menu li {
      list-style-type: none;
      display: block; }
      .navbar .menu li a {
        padding-right: 3rem; }
        .navbar .menu li a:hover {
          padding-right: 3rem; }

/* Mobile menu icon ACABAR CON JS*/
@media (min-width: 768px) {
  #menu-icon {
    display: none; }
  .navbar {
    float: right;
    max-height: 1000px; }
    .navbar .menu li {
      list-style-type: none;
      display: inline-block; } }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  line-height: 2.6rem;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3.75rem;
      line-height: 4.6rem; } }

.t_h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF; }
  @media (min-width: 768px) {
    .t_h1 {
      font-size: 3.75rem;
      line-height: 4.6rem; } }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.5rem;
      line-height: 2rem; } }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: yellow;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.5rem;
      line-height: 2rem; } }

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #0000FD; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4rem; }

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #4A4A4A; }

.txt-center {
  text-align: center;
  margin: 1rem; }

.t-h5-title-staff {
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 0.5rem; }

.t-h4-profession-staff {
  font-weight: 400;
  font-size: 1rem;
  line-height: 0rem; }

.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-content-staff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 5rem; }

.section-content-staff-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem; }

.section-content-basis {
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

.center {
  display: inline-block;
  text-align: center; }

.staff-img {
  margin: auto;
  padding-top: 1rem;
  height: 180px;
  width: 180px;
  background-color: green;
  border-radius: 70px 7px; }

.staff-img-01 {
  background-image: url(../img/img-staff-01.png); }

.staff-img-02 {
  background-image: url(../img/img-staff-02.png); }

.staff-img-03 {
  background-image: url(../img/img-staff-03.png); }

.staff-img-04 {
  background-image: url(../img/img-staff-04.png); }

.staff-img-05 {
  background-image: url(../img/img-staff-05.png); }

.staff-img-06 {
  background-image: url(../img/img-staff-06.png); }

.container-img {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px; }

.grid-images {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%; }

@media only screen and (min-width: 480px) and (max-width: 727px) {
  .grid-images {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%; } }

@media only screen and (max-width: 479px) {
  .grid-images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%; } }

.grid {
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }

#feedback-page {
  text-align: center; }

#text-feedback {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: cyan;
  text-align: center; }

#form-main {
  width: 100%;
  float: left;
  padding-top: 30px; }

#form-div {
  background-color: pink;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-left: -260px; }

.feedback-input {
  opacity: 0.9;
  color: #0493bd;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid yellow;
  color: yellow;
  outline: none;
  padding: 13px 13px 13px 54px; }

.focused {
  color: yellow;
  border: yellow solid 3px; }

/* Icons ---------------------------------- */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-color: blue; }

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-color: blue; }

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#comment:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-color: blue; }

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  background-color: lime; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: lime; }

#button {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  width: 100%;
  border: 2px solid;
  border-bottom-width: 4px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: color 1s;
  transition: color 1s; }

#button:hover {
  -webkit-animation: jellyfish 0.35s infinite linear;
  animation: jellyfish 0.35s infinite linear;
  background: -webkit-linear-gradient(45deg, #0000FD 0.5em, transparent 0.5em) 0 0/1em 1em, -webkit-linear-gradient(135deg, #50E3C2 0.5em, transparent 0.5em) 0 0/1em 1em;
  background: linear-gradient(45deg, #50E3C2 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, #0000FD 0.5em, transparent 0.5em) 0 0/1em 1em;
  color: #50E3C2; }

@-webkit-keyframes jellyfish {
  100% {
    background-position: 1em 0; } }

@keyframes jellyfish {
  100% {
    background-position: 1em 0; } }

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%; } }

/* BOTONES */
.btn {
  font-weight: 700;
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  text-transform: uppercase;
  margin: 1em;
  padding: 0.5em 2.5em;
  -webkit-transition: color 1s;
  transition: color 1s; }

.btn-h {
  color: #0000FD; }

.btn-h:hover {
  -webkit-animation: jellyfish 0.35s infinite linear;
  animation: jellyfish 0.35s infinite linear;
  background: -webkit-linear-gradient(45deg, #0000FD 0.5em, transparent 0.5em) 0 0/1em 1em, -webkit-linear-gradient(135deg, #d3f169 0.5em, transparent 0.5em) 0 0/1em 1em;
  background: linear-gradient(45deg, #50E3C2 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, #0000FD 0.5em, transparent 0.5em) 0 0/1em 1em;
  color: #0000FD; }

@-webkit-keyframes jellyfish {
  100% {
    background-position: 1em 0; } }

@keyframes jellyfish {
  100% {
    background-position: 1em 0; } }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
