body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-image: url(../img/img-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: $primary;
	max-width: 100%;
	height: auto;

}



/* MEDIAQUERIES */

$mobile-width: 320px;

$mobile-height: 568px;

$tablet-width: 768px;

$tablet-height: 1024px;

$desktop-width: 1440px;

$desktop-height: 1024px;



