/* BOTONES */

#button{
  float:left;
  font-weight:700;
  text-transform: uppercase;
  background-color: $bg;
  width: 80%;
  border: 0.1rem solid $primary;
  cursor:pointer;
  color:$primary;
  font-size:1.3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  -webkit-transition: color 1s;
  transition: color 1s;
  &:hover {
    -webkit-animation: jellyfish 0.35s infinite linear;
    animation: jellyfish 0.35s infinite linear;
    background: -webkit-linear-gradient(45deg, $primary 0.5em, transparent 0.5em) 0 0/1em 1em, -webkit-linear-gradient(135deg, $primary 0.5em, transparent 0.5em) 0 0/1em 1em;
    background: linear-gradient(45deg, $primary 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, $primary 0.5em, transparent 0.5em) 0 0/1em 1em;
    color: $primary;
  }
}

@-webkit-keyframes jellyfish {
  100% {
    background-position: 1rem 0;
  }
}

@keyframes jellyfish {
  100% {
    background-position: 1rem 0;
  }
} 



