

.form{
	width: 80%;
	display: flex;
	align-text: center;
	margin: 1rem auto;

	/*MEDIA QUERIES*/
    @media only screen and (min-width: 1024px){
    	width: 40%;
    }

	form{
		font-weight: 400;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.label-info{
	margin: 2rem auto .5rem auto;
	color: $p;
	}

	label.mistake{
        color: $mistake;
        display: none;
        height: 0;
	}

	.input, .textarea{
		width: 100%;
		border: 1px solid blue;
		padding-left: 1rem;

	}
	

	.input{
		min-height: 3rem;
	}

	.textarea{
		min-height: 10rem;
		padding-top: 1rem;
	}
	
}
