/* GRID - INFO*/

.box-grid{
  position: relative;
}


.box-info-grid {
  display:block; 
  width:100%; 
  background-color:$box-grid;
  opacity: .70; 
  text-align:center;
  bottom:0.4rem;
  position:absolute;
  color:$link;
}


/* GRID - IMAGES*/

.container-grid {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.grid {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.grid-images {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}
@media only screen and (min-width: 480px) and (max-width: 727px) {
  .grid-images {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  .grid-images {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

