a {
  color: $primary; 
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}


/* Header */
.header {
  position: relative;
  width: 100%;
  background-color:$bg;
  line-height: 50px;
  -webkit-box-shadow: 0px 8px 3px -6px black;
  -moz-box-shadow: 0px 8px 3px -6px black;
  box-shadow: 0px 8px 3px -6px black;
}

.wrap-header {
  max-width: 2000px;
  /* Cambio de posición NAVBAR*/
margin-left: 1em;
  }

 .logo {
    padding-top: 1rem;
    padding-left: 1rem;
  }

/* Mobile menu */
#menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  cursor: pointer;
  opacity: 1;
  padding: 0 0.4em;
    color: $primary; 
}
#menu-icon:hover {
  text-decoration: none;
  border: none;
  color: $secondary;
}

.navbar {
  float: none;
  background-color:$bg;
  max-height: 0;
  overflow: hidden;
    margin: 0;
  padding-top: 0;
}
.navbar .menu {
  margin: 0;
  padding-top: 0;
  list-style-type: none;
}
.navbar .menu li {
  list-style-type: none;
  display: block;
}
.navbar .menu li a {
  display: block;
  text-decoration: none;
  color: $primary;
        padding-right:3rem;
}
.navbar .menu li a:hover {
        padding-right:3rem;
          color: $secondary;
}

.expand {
  max-height: 30em;
}

@media only screen and (min-width: 768px) {

  /* Mobile menu icon */
  #menu-icon {
    display: none;
  }

  .navbar {
    float: right;
    max-height: 1000px;
  }
  .navbar .menu li {
    list-style-type: none;
    display: inline-block;
  }
}

