/* LINKS */

a {
  color: $primary; 
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.link-home {
  color: $link;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: underline;
  &:hover {
    color: $secondary;
    text-decoration: underline;
  }
  @media (min-width: $tablet-width) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.link-staff {
  color: $link;
  &:hover {
    color: $secondary;
  }
}

/* CLAIM BACKGROUND CLASSES */

#container {
  padding-top: 2rem;
  width: 100%;
}

.content {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 2rem;
}

.claim {
  margin-top: 2rem;
}

.claim-link {  
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.divide {
  border: 0.2rem solid $bg;
  border-radius: 2rem;
  width: 10%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .content {
    padding-bottom: 4rem;
  }

  .claim {
    margin-top: 4rem;
  }

  .claim-link {  
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .divide {
    border: 0.4rem solid $bg;
    border-radius: 2rem;
    width: 20%;
    margin: 0 auto;
  }
}

/* CONTAINER CLASSES / STROKE CLASSES */

.section_container {
  background-color: $bg;
  text-align: center;
  padding-top:1rem;
}

.stroke_clear {
  border-bottom: 0.3rem solid $secondary;
  border-radius: 1rem;
  width: 10%;
  margin: 0 auto;
}

.stroke {
  border-bottom: 0.3rem solid $secondary;
  width: 100%;
}

/* GRID CLASSES */

.projects, .about, .contact {
  background-color: $bg;
}





